.socialsWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-bottom: 20px;
}

.socials {
  display: flex;
  justify-content: center;
  
  .link {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.375);
    margin-right: 30px;
    transition: transform 150ms ease;

    &:hover {
      transform: scale(1.05);
    }
    
    &:last-child {
      margin-right: 0;
    }
    
    .img {
      width: 20px;
      height: 20px;
    }
  }
}